<div class="container">
  <p>Create a new cocktail</p>
    <%= form_for(cocktail) do |f| %>
    <%= f.text_field :name, placeholder: "type here your cocktail" %>
    <%= f.submit %>
    <% end %>
</div>

<form action="/cocktails"></form>
