.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  margin-bottom: 50px
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 38px;
  font-weight: bold;
  font-family: 'Tomorrow';
  text-align: center;
  margin-bottom: 50px;
}

.banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  font-size: 24px;
  font-weight: lighter;
  font-family: 'Tomorrow';
  text-align: center;
}

.banner img {
  height: 300px;
}
